body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#map_container {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#map_toggle {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 300px;
  height: 50px;
  margin-left: -150px;
  z-index: 99;
  opacity: 1;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}

button {
  font-size: 23px;
}

.info {
  padding: 5px;
  width: 160px;
  font-size: 11pt;
  line-height: 1.1;
  background-color: white;
}


.info th,
.scope th {
  text-align: left;
}

.info td,
.scope td {
  width: 100%;
  text-align: right;
}

.scope {
  padding: 5px;
  width: 180px;
  font-size: 11pt;
  line-height: 1.1;
  background-color: white;
}

.normal {
  color: green;
}

.alarm {
  color: yellow;
}

.warn {
  color: orange;
}

.emergency {
  color: red;
}

#anchorDown,
#anchorUp {
  display: none;
}