body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#map_container {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#map_toggle {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 300px;
  height: 50px;
  margin-left: -150px;
  z-index: 99;
  opacity: 1;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}

button {
  font-size: 23px;
}

.info {
  z-index: 99;
  padding: 20px 10px;
  opacity: 1;
  border-radius: 5px;
  text-align: right;
  color: white;
}

.info button {
  font-size: 12pt;
}

.info th {
  text-align: left;
}

.info td {
  text-align: right;
}

.normal {
  color: green;
}

.alarm {
  color: yellow;
}

.warn {
  color: orange;
}

.emergency {
  color: red;
}

#anchorDown,
#anchorUp {
  display: none;
}