body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#map_container {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#map_toggle {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 300px;
  height: 50px;
  margin-left: -150px;
  z-index: 99;
  opacity: 1;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}

#info {
  position: absolute;
  bottom: 120px;
  left: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  z-index: 99;
  padding-top: 10px;
  opacity: 1;
  border-radius: 5px;
  text-align: center;
  font-size: 26pt;
  color: white;
}

button {
  font-size: 23px;
}

#anchorDown,
#anchorUp {
  display: none;
}